body {
background-color:#eee;
}

#title {
font-family:Raleway;
font-size:24pt;
}

.button {
font-family:Raleway;
font-size:10pt;
font-weight:400;
padding-right:16px;
}

a {
text-decoration:none;
color:#333;
}

a:hover {
text-decoration:underline;
}

#container{
width:820px;
text-align:center;
}

#containerleft{
width:400px;
float:left;
}

#containerright{
width:400px;
float:right;
}

#containerbottom{
clear:both;
}

.sheep_header{
	
}

.white{
background:#fff;
color:#333;
border-radius:2px;
width:400px;
}

.black{
background:#000;
color:#eee;
border-radius:2px;
width:400px;
}

.black a{
color:#eee;
}

.midtone{
background:#999;
color:#333;
text-align:right;
border-bottom-left-radius:15px;
border-bottom-right-radius:15px;
}

.midtone:hover{
background:#666;
color:#000;
}


span{
font-family:raleway;
float:none;
font-size:12pt;
}

.description{
font-family:lato;
font-size:12pt;
}

.description_small{
font-family:lato;
font-size:10pt;
}

#mc_embed_signup{

}

#mc_embed_signup_scroll{
}

#mce-EMAIL{

}

#games_container{
width:820px;
clear:both;
}

.appcontainer{
background:#fff;
color:#333;
border-radius:2px;
width:400px;
padding-top:20px;
padding-bottom:20px;

}

.appicon{
	
}

.apptitle{
font-family:Raleway;
font-size:18pt;
}

.apptagline{
font-family:Lato;
font-size:12pt;

}

.applinks{
font-family:Lato;
font-size:12pt;

}





